.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.203);
  transition: 100ms;
}

.headerContainer:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.269);
}

.headerTitleLogo {
  color: rgb(255, 255, 255);
  font-family: "Concert One", sans-serif;
}

.headerSettingsLogo {
  cursor: pointer;
}
