* {
  margin: 0;
  padding: 0;
}

.timerContainerFocusRed {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  padding: 50px 10px;
  background-color: rgb(255, 117, 117);
  border-radius: 10px;
}

.timerContainerChillBlue {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  padding: 50px 10px;
  background-color: rgb(117, 177, 255);
  border-radius: 10px;
}

.timerState {
  font-size: 40px;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  color: white;
}

.timer {
  font-size: 96px;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  color: white;
}

.timerButtonNotRunning {
  font-size: 48px;
  color: rgb(74, 74, 74);
  font-family: "Concert One", sans-serif;
  padding: 14px 60px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 1px rgba(255, 255, 255, 0.826);
  margin-top: -10px;
  cursor: pointer;
}

.timerButtonRunning {
  font-size: 48px;
  color: rgb(95, 95, 95);
  font-family: "Concert One", sans-serif;
  padding: 14px 68px;
  background-color: rgb(246, 246, 246);
  border: none;
  border-radius: 10px;
  margin-bottom: -10px;
  cursor: pointer;
}
